<!DOCTYPE html>
<html lang="zh" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>

<title>Cactbot Importer</title>

<meta charset="utf-8"/>

<script src="https://cdn.jsdelivr.net/npm/jquery@3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet"
      crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2/dist/FileSaver.min.js"></script>

</head>

<body class="py-4">
<main>
  <div id="container" class="container">
    <div class="row" v-if="remotes.length">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start"
            v-for="(remote, index) in remotes" :key="index"
        >
          <div class="ms-2 me-auto user-select-auto">
            <span class="badge bg-primary user-select-none me-2">
              {{remote.name}}:
            </span>{{remote.url}}
          </div>
          <button class="btn btn-danger py-0 user-select-none" @click="remove(index)">X</button>
        </li>
      </ul>
    </div>

    <div class="row py-4">
      <div class="col-lg-2 col-md-10 col-sm-12">
        <label for="nameInput" class="form-label">备注</label>
        <input type="text"
               id="nameInput"
               class="form-control"
               v-on:keyup="keyup"
               v-on:keypress="keyup"
               v-model="name"
               placeholder="触发器备注">

      </div>

      <div class="col-lg-10 col-md-10 col-sm-12">
        <label for="urlInput" class="form-label">触发器链接</label>
        <input type="url"
               id="urlInput"
               class="form-control"
               :class="{'text-danger': !validInput()}"
               placeholder="https://example.com/trigger.js"
               v-model="current_input"
               v-on:keyup="keyup"
               v-on:keypress="keyup"
               aria-describedby="button-addon2">
      </div>

    </div>

    <div class="row py-1">
      <button @click="add" class="btn btn-primary" type="button">添加</button>
    </div>

    <div class="row py-4 d-flex justify-content-between">
      <button @click="showFinal" class="col-4 btn btn-primary">查看触发器源码</button>
      <button @click="getLoader" class="col-4 btn btn-primary">下载raidboss.js</button>
    </div>

    <div class="py-4 row">
      <pre v-if="script" class="rounded bg-secondary bg-opacity-25"><code>{{script}}</code></pre>
    </div>

  </div>
</main>

<script>
  const configKey = 'config_v0'

  new Vue({
    el: "#container",
    data() {
      let remotes = sessionStorage.getItem(configKey);
      if (remotes === null) {
        remotes = [{
          url: "https://cdn.jsdelivr.net/gh/Trim21/cactbot-triggers/src/name_to_job.ts",
          name: "在副本中用职业替代游戏ID"
        }]
      } else {
        remotes = JSON.parse(remotes)
      }

      return { script: '', current_input: '', name: '', remotes: remotes }
    },
    watch: {
      remotes(newVal) {
        sessionStorage.setItem(configKey, JSON.stringify(newVal, null, 2))
      }
    },
    methods: {
      getLoader() {
        const data = loaderSRC(this.remotes)
        this.script = data
        const blob = new Blob([data], {
          type: "application/javascript;charset=utf-8;",
        });
        saveAs(blob, "raidboss.js");
      },
      showFinal() {
        const urls = this.remotes.map(x => x.url)
        urls.sort()

        fetch("/v0/raidboss.js", {
          method: "POST",
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({ urls })
        })
          .then(res => res.text())
          .then((data) => {
            this.script = data
          })
      },
      validInput() {
        const url = this.current_input.trim()
        if (!(url.startsWith("http://") || url.startsWith('https://'))) {
          return false
        }
        try {
          new URL(url)
          return true
        } catch {
        }
        return false
      },
      keyup: function (e) {
        if (e.keyCode === 13) {
          e.preventDefault();
          if (e.type === "keyup" && this.current_input.length !== 0 && this.validInput()) {
            this.add()
          }
          return false;
        }
      },
      add() {
        const url = this.current_input.trim()
        if (this.remotes.filter(x => x.url === url).length !== 0) {
          return
        }
        if (!this.validInput()) {
          alert(`${this.current_input} 不是有效的URL`)
          return;
        }
        this.remotes.push({ url: url, name: this.name })
        this.current_input = ''
        this.name = ''
      },
      remove(index) {
        this.remotes.splice(index, 1)
      },

    }
  })

  function loaderSRC(config) {
    const configStr = JSON.stringify(config, null, 2)
    return `
// generated by https://cactbot-importer.trim21.cn
(function () {
  const updateInterval = 3 * 24 * 60 * 60 * 1000; // 3 days
  const configKey = 'trim21.config.script1';
  const now = new Date();
  const config = ${configStr};

  const log = (text) => console.log('cactbot importer: [INFO]', text);
  const warn = (text) => console.warn('cactbot importer: [WARN]', text);
  const error = (text) => console.error('cactbot importer: [ERROR]', text);

  function fetchScript() {
    const request = new XMLHttpRequest();
    request.open('POST', 'http://127.0.0.1:5000/v0/raidboss.js', false);
    request.setRequestHeader('content-type', 'application/json');
    request.send(JSON.stringify({ urls: config.map((x) => x.url) }));

    if (request.status === 200) {
      return request.responseText;
    }
    error(request.statusText);
    error(request.responseText);
  }

  function setWithExpiry(key, value, ttl) {
    const item = { value: value, expiry: now.getTime() + ttl };
    localStorage.setItem(key, JSON.stringify(item));
  }

  function getWithExpiry(key) {
    const itemStr = localStorage.getItem(key);
    if (!itemStr) {
      warn('No item found in sessionStorage');
      return { expired: false, script: null };
    }
    const item = JSON.parse(itemStr);
    return { expired: now.getTime() > item.expiry, script: item.value };
  }

  function getScript() {
    let script;
    let item = getWithExpiry(configKey);

    if (!item.script) {
      log('sessionStorage is empty');
    } else if (item.expired) {
      log('script in sessionStorage is expired');
    }

    if (item.expired || !item.script) {
      try {
        log('fetching scripts');
        script = fetchScript();
      } catch {
        warn('HTTP请求失败');
        if (item.expired) {
          return item.script;
        }
      }
      if (script) {
        log('save fetched script to sessionStorage');
        setWithExpiry(configKey, script, updateInterval);
      }
    } else {
      log('execute script in sessionStorage');
      script = item.script;
    }
    return script;
  }

  const currentConfig = getScript();
  if (currentConfig) {
    eval(currentConfig);
  }
})();

`
  }
</script>
</body>

</html>
